#tous les fichiers que je veux l'ignorer dans le git

*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
node_modules
npm-debug.log
build/

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output
