.raportingFinancier{
    margin-left: 5%;
    margin-right: 10%
}
.raportingFinancierRow{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    
}
.raportingFinancierCard{
    border-radius: 5%;
    text-align: center;
    color: white;
    /*padding-top: 10%;
    padding-bottom: 10%;*/
}
.raportingFinancierButtonContainer{
    height: 40px;
    width: 140px;
    padding-right: 15px;
    padding-left: 15px;
    
}
.raportingFinancierButton{
    background-color: #4150b7;
    color: white;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;   
}


.raportingFinancierTable .MuiTableCell-head {
    color: #626262;
    background-color: white;
    font-weight: bold;
}

.MuiTableRow-root{
    background-color: #f6f6f6;
  
    border-radius: 30px;  
    border-bottom: 0; 
}

.MuiTableCell-root{
    border-bottom: 0;
}
@media (max-width: 992px) {
    .raportingFinancierRow{
        margin-left: 0;
        margin-right: 0;
    }   
}
@media (max-width: 768px) {
    .raportingFinancier .container{
        margin-left: 0;
        margin-right: 0;
    }   
    

}